<!--
The template defines the view of the component - what is actually rendered. 
In NativeScript applications the template is defined with XML using NativeScript UI elements. 
It is different from HTML. So instead of <input>, <span>, <div> etc. - we have <TextField>, <Label> and layouts.
The important thing is that although the elements are different - all of the Angular’s template syntax works exactly the same. 
So you can still use template expressions, bindings, templates as well as all the built-in directives.
-->
<!--
The ActionBar is the NativeScript common abstraction over the Android ActionBar and iOS NavigationBar.
http://docs.nativescript.org/ui/action-bar
-->
<ActionBar title="Demo" class="action-bar">
</ActionBar>

<!--
The StackLayout stacks UI components on the screen — either vertically or horizontally.
In this case, the StackLayout does vertical stacking; you can change the stacking to
horizontal by applying a orientation="horizontal" attribute to the <DockLayout> element.
You can learn more about NativeScript layouts at https://docs.nativescript.org/ui/layout-containers.

These components make use of several CSS class names that are part of the NativeScript
core theme, such as p-20, btn, h2, and list-group. You can view a full list of the
class names available for styling your app at https://docs.nativescript.org/ui/theme.
-->
<!--<StackLayout class="page">
    <ListView [items]="items" class="list-group">
        <ng-template let-item="item">
            <Label [nsRouterLink]="['/item', item.id]" [text]="item.name" class="list-group-item text"></Label>


        </ng-template>

        <TextField hint="Email Address" keyboardType="email" autocorrect="false" autocapitalizationType="none"></TextField>
        <TextField hint="Password" secure="true"></TextField>

        <Button text="Sign in"></Button>
        <Button text="Sign up for Groceries"></Button>
    </ListView>
</StackLayout>-->


<StackLayout>
    <Button dock="top" horizontalAlignment="center" verticalAlignment="center" backgroundColor="#EAEAEA" color="red" class="btn btn-primary btn-active" (tap)="onScan()" text="Capturar"></Button>
    <label dock="top" class="h2 text-center wrap" text="{{textCaptured}}"></label>

</StackLayout>
<!--
<StackLayout>


<Button (tap)="onScan()" text="Capturar"></Button>
<label text="{{textCaptured}}"></label>

    <TextField hint="Email Address" keyboardType="email" autocorrect="false" autocapitalizationType="none"></TextField>
    <TextField hint="Password" secure="true"></TextField>
    <Button text="Sign in"></Button>
    <Button text="Sign up for Groceries"></Button>
    <Image class="logo" src="https://www.nativescript.org/images/default-source/landingpages/logo.png"></Image>

    


    <DockLayout width="210" height="210" backgroundColor="lightgray" stretchLastChild="false">
        <Label text="left" dock="left" width="60" backgroundColor="red"></Label>
        <Label text="top" dock="top" height="60" backgroundColor="green"></Label>
        <Label text="right" dock="right" width="60" backgroundColor="blue"></Label>
        <Label text="bottom" dock="bottom" height="60" backgroundColor="yellow"></Label>
    </DockLayout>
</StackLayout>-->
<!--<StackLayout borderRadius="2" backgroundColor="#0099CC" class="m-b-5" height="50">
    <Label [text]="status" class="h2 text-center" color="white"></Label>
</StackLayout>
-->
<!-- <ScrollView sdkExampleTitle sdkToggleNavButton>
    <GridLayout class="m-15" rows="auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto">
        <Label class="h3 m-5" height="50" row="0" text="Title 1"></Label>
        <Label class="h3 m-5" height="50" row="1" text="Title 2"></Label>
        <Label class="h3 m-5" height="50" row="2" text="Title 3"></Label>
        <Label class="h3 m-5" height="50" row="3" text="Title 4"></Label>
        <Label class="h3 m-5" height="50" row="4" text="Title 5"></Label>
        <Label class="h3 m-5" height="50" row="5" text="Title 6"></Label>
        <Label class="h3 m-5" height="50" row="6" text="Title 7"></Label>
        <Label class="h3 m-5" height="50" row="7" text="Title 8"></Label>
        <Label class="h3 m-5" height="50" row="8" text="Title 9"></Label>
        <Label class="h3 m-5" height="50" row="9" text="Title 10"></Label>
        <Label class="h3 m-5" height="50" row="10" text="Title 10"></Label>
        <Label class="h3 m-5" height="50" row="13" text="Title 13"></Label>
        <Label class="h3 m-5" height="50" row="14" text="Title 14"></Label>
        <Label class="h3 m-5" height="50" row="15" text="Title 15"></Label>
    </GridLayout>
</ScrollView> -->

<!-- <AbsoluteLayout width="210" height="210" backgroundColor="lightgray">
    <Label (tap)="viewAlert()" text="10, 10" left="10" top="10" width="90" height="90" backgroundColor="red"></Label>
    <Label (tap)="onScan()" text="110, 10" left="110" top="10" width="90" height="90" backgroundColor="green"></Label>
    <Label *ngIf="blockBlue" text="110, 110" left="110" top="110" width="90" height="90" backgroundColor="blue"></Label>
    <Label text="10, 110" left="10" top="110" width="90" height="90" backgroundColor="yellow"></Label>
</AbsoluteLayout> -->
<!-- <ActionBar android:title="Title">
    <ActionItem text="left item" ios.position="left"></ActionItem>
    <ActionItem text="Item" ios.position="right" android.position="popup"></ActionItem>
    <ActionItem>
        <Label class="m-5" text="Custom item" color="#8C489F"></Label>
    </ActionItem>
    <ActionItem ios.systemIcon="12" android.systemIcon="ic_menu_search"></ActionItem>
    <NavigationButton icon="res://ic_arrow_back_black_24dp" (tap)="goBack()"></NavigationButton>
</ActionBar>
<ActionBar title="test">
    <StackLayout orientation="horizontal" ios:horizontalAlignment="center" android:horizontalAlignment="left">
        <Image src="https://www.nativescript.org/images/default-source/landingpages/logo.png" class="action-image logo"></Image>
        <Label text="ativeScript" class="action-label"></Label>
    </StackLayout>
</ActionBar> -->