@import url(nativescript-theme-core/css/core.light.css);.title{font-size:130px !important;color:#EEE !important}Page{background-color:#EEE;font-size:15}TextField{padding:10;font-size:13}.action-image{width:40;height:40;vertical-align:center}.action-label{color:#3C5AFD;font-size:24;font-weight:bold;vertical-align:center}.wrap{white-space:normal}
